* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/rockywall_@2X.png);
  background-size: cover;
  background-color: #cccccc;
  margin: 0px;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  border: 0px solid #cccccc;
  position: fixed;
  top: 0;
  z-index: 1;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #777777;
    text-decoration: underline;
}

a:active {
    color: #777777;
    text-decoration: underline;
    background-color: #4aaaa5;
}

.navbar {
  width: 960px;
  margin: auto;
  overflow: auto;
  position: relative;
}

#name {
  font-size: 2em;
  background-color: #4aaaa5;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: left;
  padding: 20px;
}

#link-list {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 0px;
  height: 100%;
}

nav {
  padding: 29px 0px;
}

nav span {
  color: #777777;
}

.container {
  width: 960px;
  margin: 110px auto;
  overflow: auto;
  background-color: #ffffff;
  padding: 20px;
  
}

h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  padding-bottom: 20px;
}

footer {
    color: #ffffffa6;
    background-color: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}